<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../css/main.css">
        <link rel="stylesheet" type="text/css" href="../../css/queries.css">
        <title>Questioner | Profile</title>
    </head>
    <body>
        <!-- Application header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="meetups.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../../index.html">Log out</a></p>
            </div>
            <div class="headerDiv" id="headerNavBurger">
                <i class="fas fa-bars"></i>
            </div>
            <div id="burgerMenuNav">
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../../index.html">Log out</a></p>
            </div>
        </header>
        <!-- End of Application header -->

        <!-- Dashboard section -->
        <section id="dashboardSection" class="sectionBackground">
            <!-- Image heading -->
            <div class="bgImage imageHeading">
                <h3 class="sectionHeading">PROFILE</h3>
            </div>
            <!-- End of Image heading -->
            <div id="dashboardSectionSummary">
                <div class="dashboardStat" id="summaryBox">
                    <div class="dashboardStatBox">
                        <i class="fas fa-question dashboardStatBoxIcon">&nbsp;23</i>
                        <p>Questions Asked</p>
                    </div>
                    <div class="dashboardStatBox">
                        <i class="fas fa-comments dashboardStatBoxIcon">&nbsp;5</i>
                        <p>Comments</p>
                    </div>
                    <a href="meetups.html" id="summaryBoxMeetupLink">
                        <div class="dashboardStatBox">
                            <i class="fab fa-elementor dashboardStatBoxIcon">&nbsp;6</i>
                            <p>Meetups&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i></p>
                        </div>
                    </a>
                </div>
                <div class="dashboardStat" id="feedBox">
                    <h2>Your Feeds</h2>
                    <div id="feedBoxQuestions">
                        <!-- First Question Feed -->
                        <a href="meetup-details.html"><h4>NodeJs Nigeria Meetup</h4></a>
                        <div class="feedQuestion">
                            <p>Are we getting stickers?</p>
                            <i class="fas fa-thumbs-up thumbs-up-green">&nbsp;108</i>
                            <i class="fas fa-thumbs-down thumbs-down-red">&nbsp;2</i>
                            <i class="fas fa-comments">&nbsp;100</i>
                        </div>
                        <div class="feedQuestion">
                            <p>Will there be item 7?</p>
                            <i class="fas fa-thumbs-up thumbs-up-green">&nbsp;98</i>
                            <i class="fas fa-thumbs-down thumbs-down-red">&nbsp;23</i>
                            <i class="fas fa-comments">&nbsp;19</i>
                        </div>
                        <div class="feedQuestion">
                            <p>Are we to come with our laptops?</p>
                            <i class="fas fa-thumbs-up thumbs-up-green">&nbsp;28</i>
                            <i class="fas fa-thumbs-down thumbs-down-red">&nbsp;0</i>
                            <i class="fas fa-comments">&nbsp;43</i>
                        </div>
                        <!-- Second Question Feed -->
                        <a href="meetup-details.html"><h4>Chess Masters Nigeria</h4></a>
                        <div class="feedQuestion">
                                <p>Will recruiters be present?</p>
                                <i class="fas fa-thumbs-up thumbs-up-green">&nbsp;18</i>
                                <i class="fas fa-thumbs-down thumbs-down-red">&nbsp;5</i>
                                <i class="fas fa-comments">&nbsp;21</i>
                        </div>
                        <div class="feedQuestion">
                                <p>Should be expectant of freebies?</p>
                                <i class="fas fa-thumbs-up thumbs-up-green">&nbsp;16</i>
                                <i class="fas fa-thumbs-down thumbs-down-red">&nbsp;2</i>
                                <i class="fas fa-comments">&nbsp;10</i>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <!-- End of Meetups section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../../js/main.js"></script>
    </body>

</html>