<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../css/main.css">
        <link rel="stylesheet" type="text/css" href="../../css/queries.css">
        <title>Questioner | Meetups</title>
    </head>
    <body>
        <!-- Application header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="meetups.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../../index.html">Log out</a></p>
            </div>
            <div class="headerDiv" id="headerNavBurger">
                <i class="fas fa-bars"></i>
            </div>
            <div id="burgerMenuNav">
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../../index.html">Log out</a></p>
            </div>
        </header>
        <!-- End of Application header -->

        <!-- Meetups section -->
        <section id="meetUpsSection" class="sectionBackground">
            <!-- Image heading -->
            <div class="bgImage imageHeading">
                <h3 class="sectionHeading">Meetups</h3>
            </div>
            <div id="meetupsListing">
                
            </div>
            <div class="clear"></div>
            <!-- Page loader -->
            <div id="page-loader-container">
                <img src="../../img/page-loader.gif" alt="page loader gif" id="page-loader">
            </div>
        </section>
        <!-- End of Meetups section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../../js/main.js"></script>
        <script src="../../js/helpers/baseURL.js"></script>
        <script src="../../js/helpers/misc.js"></script>
        <script src="../../js/helpers/request.js"></script>
        <script src="../../js/pages/meetups.js"></script>
    </body>

</html>