<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/queries.css">
        <title>Questioner | Meetups</title>
    </head>
    <body>
        <!-- Application header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="meetups.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../index.html">Log out</a></p>
            </div>
            <div class="headerDiv" id="headerNavBurger">
                <i class="fas fa-bars"></i>
            </div>
            <div id="burgerMenuNav">
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../index.html">Log out</a></p>
            </div>
        </header>
        <!-- End of Application header -->

        <!-- Meetups section -->
        <section id="meetUpDetailsSection" class="sectionBackground">
            <!-- Image heading -->
            <div class="bgImage imageHeading">
                <h3 class="sectionHeading">Nodejs Nigeria Meetup</h3>
            </div>
            <!-- Meetup Picture -->
            <div id="meetUpDetailsImage" class="details">
                <img src="../img/uploads/nodejs.jpg" alt="Nodejs logo">
            </div>
            <!-- Meetup Details -->
            <div id="meetUpDetailsInfo" class="details">
                <div class="meetUpDetailsInfoDesc" id="meetupDescription">
                    <p id="meetupDescTitle">We are Nodejs enthusiasts in the Nigerian space, promoting standard practices that lead to building robust and efficient softwares using Nodejs</p>

                    <div id="rsvpBox">
                        <div id="rsvp" class="rsvpBadge">
                            <p>12&nbsp;<span>RSVP</span></p>
                        </div>
                        <div id="yesBadge" class="rsvpBadge badgeRight">
                            <p>YES</p>
                        </div>
                        <div id="noBadge" class="rsvpBadge badgeRight">
                            <p>NO</p>
                        </div>
                        <div id="maybeBadge" class="rsvpBadge badgeRight">
                            <p>MAYBE</p>
                        </div>
                    </div>
                </div>

                <h4 class="meetUpDetailsInfoDesc">Questions</h4>

                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc" id="postQuestionBox">
                    <textarea cols="30" rows="5" placeholder="Type your question..."></textarea>
                    <a href="#" class="darkBtn" id="postQuestion">Post</a>
                </div>

                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc">
                    <p>Are we getting stickers?</p>
                    <i class="fas fa-thumbs-up">&nbsp;108</i>
                    <i class="fas fa-thumbs-down">&nbsp;2</i>
                    <i class="fas fa-comments meetupDetailsCommentBtn">&nbsp;100</i>
                </div>
                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc">
                        <p>Will there be item 7?</p>
                        <i class="fas fa-thumbs-up">&nbsp;98</i>
                        <i class="fas fa-thumbs-down">&nbsp;23</i>
                        <i class="fas fa-comments meetupDetailsCommentBtn">&nbsp;19</i>
                </div>
                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc">
                        <p>Are we to come with our laptops?</p>
                        <i class="fas fa-thumbs-up">&nbsp;28</i>
                        <i class="fas fa-thumbs-down">&nbsp;0</i>
                        <i class="fas fa-comments meetupDetailsCommentBtn">&nbsp;43</i>
                </div>
                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc">
                        <p>Will recruiters be present?</p>
                        <i class="fas fa-thumbs-up">&nbsp;18</i>
                        <i class="fas fa-thumbs-down">&nbsp;5</i>
                        <i class="fas fa-comments meetupDetailsCommentBtn">&nbsp;21</i>
                </div>
                <div class="meetUpDetailsQuestion meetUpDetailsInfoDesc">
                        <p>Should be expectant of freebies?</p>
                        <i class="fas fa-thumbs-up">&nbsp;16</i>
                        <i class="fas fa-thumbs-down">&nbsp;2</i>
                        <i class="fas fa-comments meetupDetailsCommentBtn">&nbsp;10</i>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <!-- Comments dialog box -->
        <div id="meetupCommentBackground">
            <div id="meetUpCommentSection">
                <span class="close meetupDetailsCommentBtn">&times;</span>
                <h3 class="sectionHeading">Comments</h3>
                <div id="commentContainer">
                    <div id="postCommentBox" class="commentBox">
                        <textarea cols="30" rows="5" placeholder="Your comment..."></textarea>
                        <button class="darkBtn" id="postCommentBtn">Comment</button>
                    </div>
                    <!-- Comments box -->
                    <div class="commentBox">
                        <div class="commentAuthor">
                            <p>by&nbsp;&nbsp;<span>John Doe</span></p>
                        </div>
                        <p>Nice question!</p>
                    </div>
                    <div class="commentBox">
                        <div class="commentAuthor">
                            <p>by&nbsp;&nbsp;<span>Chukwudi Ume</span></p>
                        </div>
                        <p>So insightfu!</p>
                    </div>
                    <div class="commentBox">
                        <div class="commentAuthor">
                            <p>by&nbsp;&nbsp;<span>Judge Fayokemi</span></p>
                        </div>
                        <p>This question is a question!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Comments dialog box -->
        <!-- End of Meetups section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../js/main.js"></script>
    </body>

</html>