<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/queries.css">
        <title>Questioner | My Meetups</title>
    </head>
    <body>
        <!-- Application header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="meetups.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../index.html">Log out</a></p>
            </div>
            <div class="headerDiv" id="headerNavBurger">
                <i class="fas fa-bars"></i>
            </div>
            <div id="burgerMenuNav">
                <p><a href="create-meetup.html">Create meetup</a></p>
                <p><a href="profile.html">Profile</a></p>
                <p><a href="../index.html">Log out</a></p>
            </div>
        </header>
        <!-- End of Application header -->

        <!-- Profile section -->
        <section id="myMeetupSection" class="sectionBackground">
            <!-- Image heading -->
            <div class="bgImage imageHeading">
                <h3 class="sectionHeading">My Meetups</h3>
            </div>
            <!-- End of Image heading -->
            <div id="meetupListingSection">
                <div class="meetupListingQuestion">
                    <p>NodeJs Nigeria Meetup</p>
                    <a href="meetup-details.html"><i class="far fa-eye"></i></a>
                    <i class="fas fa-trash-alt" id="deleteMeetupButton"></i>
                </div>
                <div class="meetupListingQuestion">
                    <p>Laravel Nigeria Meetup</p>
                    <a href="meetup-details.html"><i class="far fa-eye"></i></a>
                    <i class="fas fa-trash-alt" id="deleteMeetupButton"></i>
                </div>
                <div class="meetupListingQuestion">
                    <p>Django Nigeria Meetup</p>
                    <a href="meetup-details.html"><i class="far fa-eye"></i></a>
                    <i class="fas fa-trash-alt" id="deleteMeetupButton"></i>
                </div>
                <div class="meetupListingQuestion">
                    <p>Chess Masters Nigeria</p>
                    <a href="meetup-details.html"><i class="far fa-eye"></i></a>
                    <i class="fas fa-trash-alt" id="deleteMeetupButton"></i>
                </div>
                <div class="meetupListingQuestion">
                    <p>Book Club Ikeja</p>
                    <a href="meetup-details.html"><i class="far fa-eye"></i></a>
                    <i class="fas fa-trash-alt" id="deleteMeetupButton"></i>
                </div>
            </div>
        </section>
        <!-- End of Meetups section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../js/main.js"></script>
    </body>

</html>