<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/queries.css">
        <title>Questioner | Reset password</title>
    </head>
    <body>
        <!-- Landing page header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="index.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
            <div class="headerDiv" id="headerNavCopy"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
        </header>
        <!-- End of Landing page header -->

        <!-- Password reset section -->
        <section id="passwordResetSection" class="sectionBackground">
            <h3 class="sectionHeading">FORGOT YOUR PASSWORD?</h3>
            <p class="passwordResetSubHeading">Enter your email address and we'll email you a link to create a new password:</p>

            <div id="passwordResetFormBox">
                <p>&ast;&nbsp;Your email</p>

                <input type="email" required>
                <p><a href="new-password.html" class="darkBtn">RESET MY PASSWORD</a></p>
            </div>
        </section>
        <!-- End of Password reset section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../js/main.js"></script>
    </body>

</html>