<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/queries.css">
        <title>Questioner | Sign In</title>
    </head>
    <body>
        <!-- Landing page header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="../index.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
            <div class="headerDiv" id="headerNavCopy"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
            <div class="clear"></div>
        </header>
        <!-- End of Landing page header -->

        <!-- Sign In section -->
        <section id="signInSection" class="sectionBackground">
            <div class="row">
                <div id="signInFormSection">
                    <form class="form signinForm">
                        <p>Welcome</p>
                        <input type="email" id="email" class="formInput" placeholder="Email" required>
                        <p id="emailInfo" class="validateInfo"></p>
                        <input type="password" id="password" class="formInput" placeholder="Password" required>
                        <p id="passwordInfo" class="validateInfo"></p>
                        <div id="buttonContainer">
                            <input type="submit" class="darkBtn" id="signinBtn" value="Login">
                        </div>
                        <p id="signinButtonInfo" class="validateInfo"></p>
                        <p><span class="formSmallText">Don't have an account? Sign up&nbsp;<a href="signup.html">here</a></span><br>
                        <span class="formSmallText">Forgot password? Reset&nbsp;<a href="password-reset.html">here</a></span></p>
                    </form>
                </div>
            </div>
        </section>
        <!-- End of Sign In section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../js/main.js"></script>
        <script src="../js/helpers/request.js"></script>
        <script src="../js/helpers/baseURL.js"></script>
        <script src="../js/helpers/misc.js"></script>
        <script src="../js/helpers/validateSignin.js"></script>
        <script src="../js/pages/signin.js"></script>
    </body>

</html>