<!DOCTYPE html>
    <head>
        <meta charset="utf8">
        <link rel="icon" type="image" href="../css/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700i|Tangerine:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/queries.css">
        <title>Questioner | Sign Up</title>
    </head>
    <body>
        <!-- Landing page header -->
        <header id="landingHeader">
            <div class="headerDiv" id="headerLogo">
                <h1><a href="../index.html">Questioner</a></h1>
            </div>
            <div class="headerDiv" id="headerNav"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
            <div class="headerDiv" id="headerNavCopy"> 
                <p><a href="signin.html">Log In</a></p>
                <p><a href="signup.html">Sign Up</a></p>
            </div>
        </header>
        <!-- End of Landing page header -->

        <!-- Sign Up section -->
        <section id="signUpSection" class="sectionBackground">
            <div class="row">
                <div id="signUpFormSection">
                    <form class="form signUpForm">
                        <p>Sign up</p>
                        <input type="text" id="firstName" class="formInput" placeholder="First Name" required>
                        <p id="firstNameInfo" class="validateInfo"></p>
                        <input type="text" id="lastName" class="formInput" placeholder="Last Name" required>
                        <p id="lastNameInfo" class="validateInfo"></p>
                        <input type="email" id="email" class="formInput" placeholder="Email" required>
                        <p id="emailInfo" class="validateInfo"></p>
                        <input type="password" id="f_password" class="formInput" placeholder="Password" required>
                        <p id="passInfo" class="validateInfo"></p>
                        <input type="password" id="s_password" class="formInput" placeholder="Confirm password" required>
                        <p id="secondPassInfo" class="validateInfo"></p>
                        <div id="buttonContainer">
                            <input type="submit" id="signupBtn" class="darkBtn" value="Sign up">
                        </div>
                        <p id="signupButtonInfo" class="validateInfo"></p>
                        <!-- <a href="user/meetups.html" class="darkBtn">Sign up</a> -->
                        <p><span class="formSmallText">Already have an account? Log in&nbsp;<a href="signin.html">here</a></span></p>
                        <!-- <input type="submit" class="darkBtn" value="Sign up"> -->
                    </form>
                </div>
            </div>
        </section>
        <!-- End of Sign Up section -->
        <footer>
            <p>Questioner</p>
        </footer>
        <script src="../js/main.js"></script>
        <script src="../js/helpers/request.js"></script>
        <script src="../js/helpers/baseURL.js"></script>
        <script src="../js/helpers/misc.js"></script>
        <script src="../js/helpers/validateSignup.js"></script>
        <script src="../js/pages/signup.js"></script>
    </body>

</html>