/*==== Main CSS for application ===*/


/*
* General CSS
*/



/* Body */

body {
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* links */

a { text-decoration: none; }

a:link, a:visited {
    color: #fff;
}

/* Lists */
li {list-style-type:none;}

/* Buttons */
.darkBtn {
    padding: 10px;
    background-color: #305b8c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 100%;
}

/* Background images */
.bgImage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Forms */
.form {
    width: 40%; 
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    border: 1px solid #4c4a4a;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.form p:first-child {
    font-size: 80%;
    color: #305b8c;
    border-bottom: 1px solid #d0caca;
    padding-bottom: 15px;
}

#formSubHeading {font-size: 70%;}

#formSubHeading a {
    color: #305b8c !important;
    text-decoration: underline;
}

.form input {
    padding: 2%;
    margin-bottom: 5px;
}


/* Icons */
i {color: #305b8c;}

/* Inputs */
input:focus {
    outline-color: #f39e3e;
}

textarea:focus {
    outline-color: #f39e3e;
}

.iconText {float: right;}

.clear {clear: both;}

.sectionBackground {background-color: #d0caca;}


footer {
    font-size: 120%;
    text-align: center;
    font-family: 'Tangerine', cursive !important;
    color: #305b8c;
    height: 50px;
}

footer p { 
    margin: 0;
    padding-top: 10px;
}

/*
* End of General CSS
*/





/*
* Landing Page
*/



/* Header */
#landingHeader {
    background-color: #f39e3e;
}

.headerDiv {
    display: inline-block;
}

#headerLogo {
    font-family: 'Tangerine', cursive !important;
    font-size: 120%;
    padding-left: 1%;
}

#headerNav {float: right;}

#headerNavCopy {float: right;}

#headerNav p {
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
}

#headerNavCopy p {
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
}

#burgerMenuNav {
    display: none;
    text-align: center;
}

#burgerMenuNav p {
    padding-bottom: 2px;
    margin: 0;
}

#burgerMenuNav p:not(:last-child) {border-bottom: 1px solid #305b8c;}

#headerNavBurger {display: none;}

#headerNavBurger:hover {cursor: pointer;}

#headerNavCopy {display: none;}

#headerNav p:not(:last-child) {border-right: 3px solid #305b8c;}

#headerNavCopy p:not(:last-child) {border-right: 3px solid #305b8c;}


/* Hero Image */
#landingPageHeroImage {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-hero.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

#landingPageHeroImage h1 {
    font-size: 250%;
    font-weight: lighter;
    margin: auto;
    padding-top: 250px;
    color: #fff;
}

#landingPageHeroImage p {margin-top:35px;}

/*
* End of Landing Page
*/


/*
* Sign Up section / Sign In section
*/

#signUpSection, #signInSection, #passwordResetSection {
    height: 70vh;
}

#signUpSection div, #signInSection div {float: left;}

/* Sign Up / In image */
#signUpImage, #signInImage {
    width: 50%;
    height: 100%;
    background-image: url('../img/bg-signup.jpg');
}

/* Sign Up / Sign In Form */
#signUpFormSection, #signInFormSection {
    width: 50%;
    height: 100%;
}


/*
* Meetups Section
*/

#meetUpsSection {
    height: 100%;
    /* overflow: scroll; */
}


.sectionHeading {
    margin: 0 0 30px 0;
    text-align: center;
    padding: 20px 0 25px 0;
    color: #305b8c;
    font-size: 170%;
    font-weight: 300;
}

.meetupBox {
    margin-left: 50px;
    height: 300px;
    width: 20%;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    float: left;
    margin-bottom: 20px;
}

.meetupBox img {
    width: 100%;
    height: 60%;
}

.meetupBoxInfo {
    width: 100%;
    overflow: hidden;
}

.meetupBoxInfo p {
    text-align: center;
    color: #305b8c;
    font-size: 90%;
    font-weight: 700;
    overflow-wrap: break-word;
}

.meetupBoxInfo div {
    float: left;
    padding-left: 2%;
}

.attendeesLogo {
    margin-left: 10%;
}

.questionsLogo {
    margin-left: 20%;
}


/*
* Meetup Details Section
*/

#meetUpDetailsSection {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#meetUpDetailsImage {
    width: 40%;
    height: 100%;
}

#meetUpDetailsImage img {
    padding: 0 10%;
    width: 60%;
    height: 40%;
    /* border-right: 1px solid #4c4a4a; */
}

#meetUpDetailsInfo {
    width: 60%;
    height: 100%;
}

.meetUpDetailsInfoDesc {
    width: 81%;
    text-align: left;
    margin-left: -60px;
    margin-bottom: 30px;
}

.details {float: left;}

.meetUpDetailsQuestion {
    height: 100px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 0 14px 14px;
}

.meetUpDetailsQuestion p {
    padding: 10px;
    overflow-wrap: break-word;
    color: #4c4a4a;
}

.meetUpDetailsQuestion i {
    padding: 5px;
    margin-right: 10px;
}

#postQuestionBox {
    background-color: transparent !important;
    position: relative;
    margin-bottom: 90px;
}

#postQuestionBox textarea{
    width: 100%;
    background-color: #fff;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-left: -15px;
}

#postQuestionBox a {
    color: #fff;
    position: absolute;
    left: 90%;
}


#meetupCommentBackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#meetUpCommentSection {
    margin: 15% auto;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
}

.meetupDetailsCommentBtn:hover {
    cursor: pointer;
}

.close {
    color: rgba(243, 158, 62, 0.5);
    float: right;
    font-size: 300%;
    font-weight: bold;
    margin-top: -20px;
}

.close:hover,
.close:focus {
  color: rgb(243, 158, 62);
  text-decoration: none;
  cursor: pointer;
}

#meetUpCommentSection h3 {
    margin: 0;
    text-align: center;
}

#commentContainer {
    display: block;
    height: 100%;
    margin: auto;
}

#postCommentBox { 
    position: relative;
    margin-bottom: 80px;
}

.commentBox {
    width: 80%;
    display: block;
    margin-left: 10%;
    padding-bottom: 5px;
    font-size: 60%;
}

.commentBox p {margin:0;}

.commentAuthor {
    background-color: #d0caca;
    text-align: right;
}

.commentAuthor span {
    color: #305b8c;
    font-weight: bold;
}

.meetUpComment:not(:last-child) {border-bottom: 1px solid #4c4a4a;}


#postCommentBox textarea {
    width: 96%;
    padding: 2%;
}

#postCommentBox button{
    color: #fff;
    position: absolute;
}


/*
* Password reset Section
*/

#passwordResetSection {
    text-align: center;
    height: 80vh;
}

.passwordResetSubHeading {
    border-bottom: 1px dotted #4c4a4a;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}

#passwordResetFormBox {
    height: 50%;
    width: 20%;
    display: block;
    margin: auto;
}

#passwordResetFormBox p {
    text-align: left;
}

#passwordResetFormBox input {
    background-color: #fff;
    padding: 10%;
    font-size: 120%;
    margin-bottom: 10px;
}

#passwordResetFormBox .darkBtn {
    width: 100%;
}


/*
* Create Meetup Section
*/

#createMeetupSection {
    height: 100%;
}

#createMeetupSectionImage, #dashboardSectionImage, #myMeetupSectionImage {
    height: 180px;
    width: 100%;
    background-image: url("../img/uploads/create-img.jpg");
}

#createMeetupSectionImage h3, #dashboardSectionImage h3, #myMeetupSectionImage h3 {
    color: #fff !important;
}

.createMeetupEntryBox {
    width: 40%;
    display: block;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    position: relative;
}

.createMeetupEntryBoxForm p {
    font-weight: 700;
    font-size: 80%;
}

.createMeetupEntryBoxForm input, .createMeetupEntryBoxForm textarea {
    padding: 8px;
    width: 90%;
    font-size: 100%;
}

.createMeetupEntryBoxForm input[type="file"] {margin-bottom: 25px;}

#createBtn {
    position: absolute;
    left: 65%;
    bottom: 1%;
}


/*
*  Dashboard Section
*/

#dashboardSectionSummary {
    width: 90%;
    display: block;
    margin: auto;
}

.dashboardStat {float: left;}

.dashboardStatBox {
    background-color: #fff;
    margin: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.dashboardStatBoxIcon {font-size: 200%;}

#summaryBoxMeetupLink {
    color: #305b8c !important;
}

#summaryBox {
    width: 30%;
    margin-top: 65px;
}

#feedBox {width: 70%;}

#feedBox h2 {color: #305b8c;}

#feedBoxQuestions {
    background-color: #fff;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    margin-bottom: 40px;
}

#feedBoxQuestions h4 {
    padding: 30px;
    border-bottom: 1px solid #305b8c;
}

.feedQuestion {
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-bottom: 20px;
    border-bottom: 1px solid #4c4a4a;
    padding-bottom: 5px;
}

.feedQuestion i {padding: 5px;}


/*
* My Meetup Section
*/

#myMeetupSection {
    height: 100%;
}

#meetupListingSection {
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-size: 150%;
}

.meetupListingQuestion {
    border-radius: 5px;
    width: 80%;
    /* padding: 40px; */
    display: block;
    margin-left: 10%;
    background-color: #fff;
    box-shadow: 2px 2px #4c4a4a;
    margin-bottom: 20px;
}

.meetupListingQuestion p {display: inline-block;}

.meetupListingQuestion i {margin-left: 5%;}

#deleteMeetupButton:hover {cursor: pointer;}

