/* Media queries for big tablets to 1200px (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}

/* Media queries for small tablets to big tablets from 768px to 1023px */
@media only screen and (max-width: 1023px) {

}

/* Media queries for medium sized devices from 481px to 855px */
@media only screen and (max-width: 855px) {
    #landingPageHeroImage h1 {
        font-size: 200%;
    }
}

/* Media queries for small phones from 0 to 480px */
@media only screen and (max-width: 480px) {

}

/* Media queries for small phones from 0 to 320px */
@media only screen and (max-width: 320px) {
    
    /* Landing page headerNav */
    #headerNav {
        font-size: 90%;
    }

    /* Hero image text */
    #landingPageHeroImage h1 { font-size: 100%; }

    #landingPageHeroImage p { font-size: 70%; }
}